<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Needed to read active subscriptions and line1Number (if available) -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
    <queries>
        <package android:name="com.whatsapp" />
    </queries>
    <queries>
        <package android:name="com.phonepe.app" />								<!-- PhonePe Prod-->
        <package android:name="com.phonepe.app.preprod" />						<!--// PhonePe UAT-->
        <package android:name="com.google.android.apps.nbu.paisa.user" />		<!--// GPay-->
        <package android:name="net.one97.paytm" />								<!--// Paytm-->
        <package android:name="in.org.npci.upiapp" />							<!--// BHIM-->
        <package android:name="in.amazon.mShop.android.shopping" />			<!--// AmazonPay-->
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="smsto"/>
        </intent>
    </queries>

    <application
        android:name="rahul.jagtap.dmas.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name="rahul.jagtap.dmas.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="rahul.jagtap.dmas.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.ForgotPasswordActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.AccountingServicesActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.ViewShopBillsActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.FullScreenImageActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.reports.ReportTypesActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.NotificationsActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.OnlineESuvidhaOptionsActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.ESuvidhaServicesGridActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.EsuvidhaGridAdminActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.EditEsuvidhaTileActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.bills.BillDatesActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.bills.BillUsersActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.bills.BillsActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.PanCardActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.ShopActActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.FoodLicenseActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.UdyamAadharActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.ManualAadharPanActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.NepalMoneyTransferActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.RailwayTicketBookingActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.ESuvidhaDatesActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.ESuvidhaUsersActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.ESuvidhaTypesActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.PanCardListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.FoodLicenseListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.UdyamAadharListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.ShopActListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.ManualAadharPanListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.NepalMoneyTransferListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.RailwayTicketBookingListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.SendReportActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.reports.ReportDatesActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.reports.ReportUsersActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.reports.ReportsActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.UserReportTypesActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.UserReportDatesActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.UserReportsActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.ContactActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.EditContactActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.TrainingVideoActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.EditTrainingVideoActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.DailyEntriesActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.AddDailyEntryActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.BlockUnblockUserActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.ProvidentFundListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.ProvidentFundActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.PaymentDetailsActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.WebviewActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.AboutTeamActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.HowToUseActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.SelectUserActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.DayBookActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.DayBookListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.AddDayBookActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.PayByUpiActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.BusinessPanCardActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.ElectionCardActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.CibilReportActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.DrivingLearningLicenseActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.PoliceVerificationActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.GstRegistrationActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.AadharCardUpdateActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.PassportActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.JanmaKundliActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.AccountingMenuActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.ReportOptionsActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.ESuvidhaMenuActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.BusinessPanCardListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.ElectionCardListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.TutorialActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.UsersActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.PassportListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.DrivingLearningLicenseListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.EditPanOrAadharCardActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.EditPanOrAadharCardListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.PoliceVerificationListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.IncomeCertificateListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.AgeCertificateListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.IncomeCertificateActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.AgeCertificateActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.AadharPanLinkActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.GazzetActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.GazzetListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.ProjectFundingActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.CibilReportListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.EditUserActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.CreditCardActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.CreditCardListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.DownloadHistoryActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.GstRegistrationListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.AllGovtCardsActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.AllGovtCardListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.VerificationActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.VerificationListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.FarmerPolicyActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.FarmerPolicyListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.AllOtherDocsActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.AllOtherCardListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.ShriGondaSetuKendraActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.DematAccountActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.DematAccountListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.newimpl.ESuvidhaListActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.newimpl.ESuvidhaDatesV2Activity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.esuvidha.newimpl.ESuvidhaUsersV2Activity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.ReferralProgramActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.TextMsgActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.AddTextMsgActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.EditSuchnaActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.ESuvidhaSuchnaOptionsActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.ViewSuchnaActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.ESuvidhaOptionsDynamicTypesActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.admin.EditESuvidhaDynamicTypesActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.TermsConditionsActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name="rahul.jagtap.dmas.user.ESuvidhaServicesTableActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_application_id"/>

        <meta-data
            android:name="com.google.android.gms.auth.api.signin.CLIENT_ID"
            android:value="@string/google_signin_client_id" />
<!--            android:value="408121252150-6jt40ge21uidebql4b3h5t3kvkb0clem.apps.googleusercontent.com" />-->

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="rahul.jagtap.dmas.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
